{% extends "base.html" %}

{% block title %}Mangas{% endblock %}
{% block content %}
    <form method="POST" id="mangaForm">
        {% csrf_token %}
        <div class="container list">
            <div>
                <select id="mangas" name="manga_lang">
                    <option value="SPANISH">Spanish</option>
                    {% for language in lenguas %}
                        {% if language != "SPANISH" and language != 7 and language != 9 and language %}
                            <option value="{{ language }}">{{ language }}</option>
                        {% endif %}
                        {% if not language %}
                            <option value="{{ language }}">English</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="container d-grid gap-2 col-10 mx-auto">
            <input class="btn btn-primary" type="button" value="Ver"
                   onclick="this.form.submit()">
        </div>
    </form>

    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4" id="mangaInfo">
            {% for info in infos %}
                {% for item in info.items %}
                    {% for title in item.metadata.title %}
                        <div class="col">
                            <a class="text-decoration-none" href="/manga/{{ title.titleId }}/">
                                <div class="card text-center" style="background-color: #f8f9fa;">
                                    <img src="{{ title.imagePortrait }}" class="card-img-top mx-auto d-block" style="width: 30%; height: 30%;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ title.titleName }}</h5>
                                        <p class="card-text">{{ title.author }}</p>
                                        <div class="card-text">{{ item.overview }}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <script>
        function submitForm() {
            var manga_lang = document.getElementById('mangas').value;
            var form = document.getElementById('mangaForm');
            form.action = "{% url 'mangaplus_app:manga_info' manga_lang='SPANISH' %}".replace('SPANISH', manga_lang);
            form.submit();
        }

        document.addEventListener("DOMContentLoaded", function () {
            $("#mangaInfo").on('mouseenter', 'a', function () {
                var href = $(this).attr('href');
                var title_id = href.split('/')[2];

                $.get("/manga_overview/" + title_id, function (data) {
                    var overviewDiv = $('<div class="overview"></div>');
                    overviewDiv.text(data.overview);
                    
                    $(this).find('.card-body').append(overviewDiv);
                }.bind(this));
            }).on('mouseleave', 'a', function () {
                $(this).find('.overview').remove();
            });
        });
    </script>
{% endblock %}
