{% extends "base.html" %}

{% block title %}Mangas{% endblock %}
{% block content %}
    <form method="POST" id="mangaForm">
    {% csrf_token %}
        <div class="container" style="display: flex; justify-content: center;margin-bottom: 10px;margin-top: 10px">
            <div style="width: 100%;">
                <select id="mangas" name="manga_id" style="width: 100%;">
                    <option value=""></option>
                    {% for update in mangas.updates %}
                        {% for item in update.items %}
                            {% for title in item.metadata.title %}
                                {% if title.language == "SPANISH" %}
                                    <option value="{{ title.titleId }}" data-description="{{ title.author }}" data-imageUrl="{{ title.imagePortrait }}">{{ title.titleName }} - ES</option>
                                {% elif not title.language %}
                                    <option value="{{ title.titleId }}" data-description="{{ title.author }}" data-imageUrl="{{ title.imagePortrait }}">{{ title.titleName }} - EN</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>        
        </div>
        <div class="container d-grid gap-2 col-10 mx-auto">
            <input class="btn btn-primary" style="display: flex; justify-content: center;" type="button" value="Ver" onclick="this.form.submit()">
        </div>
    </form>

    <div id="mangaInfo" class="container mt-4"></div>

    <script>
        function submitForm() {
            var mangaId = document.getElementById('mangas').value;
            var form = document.getElementById('mangaForm');
            form.action = "{% url 'mangaplus_app:manga_info' manga_id=0 %}".replace('0', mangaId);
            form.submit();
        }

        {% if info %}
            var title_id = "{{ info.title.titleId }}";
            var mangaName = "{{ info.title.titleName }}";
            var mangaDescription = "{{ info.overview }}";
            var mangaImageUrl = "{{ info.imageTitle }}";
            var author = "{{ info.title.author }}"
            var mangaCard = '<a class="text-decoration-none" href="/manga/' + title_id + '/">' +
                '<div class="card text-center" style="background-color: #f8f9fa;">' +
                '<img src="' + mangaImageUrl + '" class="card-img-top mx-auto d-block" style="height: 30%;width: 30%;">' +
                '<div class="card-body">' +
                '<h5 class="card-title">' + mangaName + '</h5> ' +
                '<p class="card-text">' + author + '</p>' + // Corregido "autor" a "Autor"
                '<div class="card-text">' + mangaDescription + '</div>' +
                '</div>' +
                '</div>' +
                '</a>';
            $("#mangaInfo").html(mangaCard);
        {% endif %} 
    </script>

{% endblock %}
